<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="top.css">
  </head>
  <body>
    <header>
      <div id='title'>
          <h1>espresso</h1>
      </div>
    </header>
    <div class="main" style='display:grid;'>
      <div id='setting'>
          <button class='set_btns' type='button' name='toppage'>
            <h2>トップページ</h2>
          </button>
          <button class='set_btns' type='button' name='search'>
            <h2>検索</h2>  
          </button>
          <button class='set_btns' type='button' name='chat'>
            <h2>チャット</h2> 
          </button>
          <button class='set_btns' type='button' name='profile'>
            <h2>プロフィール</h2>
          </button>
          <button class='set_btns' type='button' name='setting'>
            <h2>設定</h2>  
          </button>    
      </div>
      <div id='timeline'>
          <div class='tweet' style='display:grid;'>
              <img id='icon'>
              <h2 id='username'>ユーザーネーム</h2>
              <h5 id='tweet_content'>内容aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h5>
              <div id='btns'>
                  <button type='button' name='reply'>
                      <font size='1'>返信</font>
                  </button>
                  <button type='button' name='good'>
            　        <font size='1'>いいね！</font>
                  </button>
              </div>
          </div>
      </div>
    </div>
    <footer>
      
    </footer>
  </body>
</html>